*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

header {
  background: linear-gradient(160deg, #0f0f0f 0%, #38281f 100%);
}

.nav-container {
  /*  Nav containing links and logo*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: poppins light, sans-serif;
  flex-wrap: wrap;
  padding: 2rem 5rem;
  margin: auto;
}
.nav-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-logo h2 {
  color: rgb(213, 173, 143);
  font-size: 1.1rem;
}
.nav-logo p {
  color: whitesmoke;
  font-size: 0.9rem;
}

.nav-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
.nav-contents a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 0.9rem;
}

.nav-contents a:hover {
  color: rgb(213, 173, 143);
  transition-delay: 300ms;
}

.menuBtn {
  display: none; /*  for small screen device*/
}
.menu {
  display: none; /*  for small screen device*/
}

/*  Second nav contaning image and texts/button*/

.nav-container-2 {
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  color: whitesmoke;
  font-size: 1.2rem;
  margin-top: 1rem;
  padding: 0rem 5rem;
}

.nav-container-2 span {
  color: #caad0a;
}

.nav-container-2 p {
  margin-top: 15px;
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
  text-wrap: wrap;
  margin-bottom: 0;
}
.nav-container-2 img {
  width: 100%;
  max-height: 500px;
  min-width: 300px;
  margin-bottom: -5px;
  object-fit: cover;
}
.nav-container-2 button {
  font-weight: bold;
  font-family: poppins;
  background-color: rgb(213, 173, 143);
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  margin-top: 20px;
  padding: 12px;
  width: 50%;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(180, 130, 95, 0.5);
  transition: background-color 300ms ease, transform 200ms ease;
}

.nav-container-2 button:hover {
  background-color: rgb(180, 130, 95);
  transition-delay: 300ms;
  transform: scale(1.05);
}

/*  start of the body content */
.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  padding: 2rem 5rem;
  margin: 5rem auto;
  font-family: Arial, Helvetica, sans-serif;
}
.about-image {
  background-color: #f39c12;
  border-radius: 50px 100px;
  box-shadow: 0px 6px rgba(180, 130, 95, 0.5);
  height: 300px;
}
.about-image img {
  padding: 0 5rem;
  margin: 0 auto;
}
.about-container h2 {
  font-size: 1.5rem;
  letter-spacing: 0.03rem;
  margin-bottom: 15px;
}

.about-shelter {
  background-color: #807272;
  border-radius: 20px;
  box-shadow: 10px 8px rgba(180, 130, 95, 0.5);
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
}

.about-shelter h2 {
  font-size: 1.8rem;
  color: rgb(213, 173, 143);
  margin-bottom: 1rem;
}

.about-shelter h2 span {
  display: block;
  font-size: 1.2rem;
  color: #caad0a;
  margin-top: 0.5rem;
}

.about-shelter p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.body-container {
  background-color: #38281f;
  padding: 3rem 5rem;
}
.body-container h2 {
  text-align: center;
  margin: 2rem auto;
  font-family: poppins, sans-serif;
  color: #fff;
}
.body-contents {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.dog-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 200px;
}

.dog-image {
  position: relative;
  width: 100%;
}

.dog-image img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(180, 130, 95, 0.9);
}
.dog-image img:hover {
  transform: scale(1.1);
  border-radius: 100px;
  transition-delay: 300ms;
}
.dog-name {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  pointer-events: none;
  justify-content: center;
  text-align: center;
}

.dog-card button {
  margin-top: 2rem;
  background-color: rgb(213, 173, 143);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(180, 130, 95, 0.5);
  transition: background-color 300ms ease, transform 200ms ease;
}

.dog-card button:hover {
  background-color: rgb(180, 130, 95);
  transition-delay: 300ms;
  transform: scale(1.05);
}

.div-title {
  text-align: center;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.items-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8rem;
  margin-bottom: 2rem;
  padding: 2rem 3rem;
  font-family: Arial, Helvetica, sans-serif;
}
.items-container p {
  text-align: center;
  margin-top: 12px;
}
.items-container img {
  width: 100px;
}

/*Before footer styles*/

.before-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(238, 238, 238);
  padding: 2rem 5rem;
  flex-wrap: wrap;
}

.before-footer-img {
  margin: 2rem;
}

.before-footer-contents {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.before-footer-contents h2 {
  margin-bottom: 1.5rem;
}

.before-footer-contents p {
  font-style: italic;
  font-family: cursive;
}

.before-footer-contents h3 {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.4;
}

.donation-highlight {
  display: block;
  margin-top: 0.3rem;
  font-size: 1.7rem;
  color: rgb(186, 148, 101);
}

.before-footer-contents p {
  font-style: italic;
  font-family: cursive;
  margin-top: 1.5rem;
  line-height: 1.6;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.before-footer-contents button {
  background-color: rgb(186, 148, 101);
  border-radius: 50px;
  padding: 10px;
  width: 20vw;
  font-weight: bold;
  font-family: nexa;
  margin-bottom: 1rem;
  cursor: pointer;
}
.before-footer-contents button:hover {
  background-color: black;
  color: white;
}
.btn button {
  background-color: transparent;
  font-style: italic;
}
/* footer section */
.footer-container {
  background-color: darkslategray;
  padding: 2rem 5rem;
  font-family: "Poppins", sans-serif;
  color: white;
}

.footer-contents {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.footer-text h1 {
  font-size: 1.5rem;
  line-height: 1.3;
  text-align: center;
  display: flex;
  gap: 1rem;
}

.footer-text h1 span {
  color: rgb(213, 173, 143);
}

.footer-image {
  background-color: rgb(186, 148, 101);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
}
.footer-image img {
  max-width: 250px;
  border-radius: 10px;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin: 2rem auto;
}

.footer-social a {
  color: #ecf0f1;
  font-size: 24px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-social a:hover {
  color: #f39c12;
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  font-size: 0.9rem;
  color: #bdc3c7;
}

@media screen and (max-width: 1800px) {
  .nav-container-2 {
    gap: 5rem;
  }

  .nav-logo h2 {
    font-size: 1.5rem;
  }
  .nav-logo p {
    font-size: 1.1rem;
  }
  .nav-contents a {
    font-size: 1.5rem;
  }
  .about-container {
    margin: 200px 0;
  }
  .about-shelter {
    max-width: 1800px;
  }
}

/*responsive design for large devices*/
@media screen and (max-width: 1200px) {
  .nav-logo h2 {
    color: rgb(213, 173, 143);
    font-size: 1.2rem;
  }
  .nav-contents a {
    font-size: 1.2rem;
  }
  .nav-logo p {
    color: whitesmoke;
    font-size: 1rem;
  }

  .nav-container-2 {
    font-size: 1rem;
  }
  .nav-container-2 p {
    font-size: 0.8rem;
  }
  .nav-container-2 button {
    font-size: 0.9rem;
    width: 100%;
  }
  .before-footer-container {
    margin-bottom: 150px;
    justify-content: center;
  }

  .before-footer-contents {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  .before-footer-contents h2 {
    margin-bottom: 1.5rem;
  }
}

/*responsive design for small laptop devices*/
@media screen and (max-width: 1024px) {
  .nav-container-2 {
    font-size: 1rem;
  }
  .nav-container-2 p {
    font-size: 0.8rem;
  }
  .nav-container-2 button {
    font-size: 0.9rem;
    width: 100%;
  }

  .about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding: 2rem 3rem;
    margin: 5rem auto;

    font-family: Arial, Helvetica, sans-serif;
  }

  .about-image img {
    padding: 0 3rem;
    margin: 0 auto;
  }
  .about-container h2 {
    font-size: 1.5rem;
    letter-spacing: 0.03rem;
    margin-bottom: 15px;
  }

  .about-shelter {
    max-width: 500px;
    margin: 0 auto;
  }
  .items-container {
    gap: 6rem;
  }

  .before-footer-container {
    margin-bottom: 0px;
    justify-content: center;
  }

  .footer-social a {
    font-size: 1rem;
  }
}

/*responsive design for Tablet devices*/
@media screen and (max-width: 768px) {
  .nav-contents {
    display: none;
  }

  .nav-container {
    padding: 1rem 2rem;
  }
  .nav-container-2 {
    padding: 0 2rem;
  }
  .nav-logo {
    margin-top: 15px;
  }

  .menuBtn {
    display: block;
    font-size: 2.5rem;
    cursor: pointer;
    margin-top: -10px;
    margin-left: 25px;
    color: white;
  }
  .menu {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(200deg, #0f0f0f 0%, #4b2005 100%);
    width: 100%;
    height: 90vh;
    padding: 4rem 1rem;
    animation: ease-in-out;
    margin-top: 90px;
  }

  .menu.close {
    display: none;
  }
  .menu a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-size: 1.3rem;
  }
  .menu a:hover {
    background-color: #f39c12;
    border-radius: 50px;
    transition-delay: 100ms;
  }
  .menu-image {
    margin: 0 auto;
  }
  .menu-image img {
    width: 200px;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    margin: 3rem;
  }
  .about-image {
    margin-bottom: 100px;
  }
  .items-container img {
    width: 50px;
  }
  .items-container {
    gap: 4rem;
  }

  .before-footer-container {
    margin-bottom: 0px;
    justify-content: center;
  }
  .before-footer-img img {
    width: 300px;
  }
}

@media screen and (max-width: 480px) {
  .nav-contents {
    display: none;
  }
  .nav-container {
    padding: 1rem;
  }
  .nav-logo {
    margin-top: 15px;
  }

  .menuBtn {
    display: block;
    font-size: 2.5rem;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 25px;
    color: white;
  }
  .menu {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(186, 148, 101);
    width: 100%;
    height: 80vh;
    padding: 4rem 1rem;
    animation: ease-in-out;
    margin-top: 90px;
  }

  .menu.close {
    display: none;
  }
  .menu a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-size: 1.3rem;
  }
  .menu a:hover {
    background-color: #f39c12;
    border-radius: 50px;
    transition-delay: 100ms;
  }
  .menu-image {
    margin: 0 auto;
  }
  .menu-image img {
    width: 300px;
    margin-top: 0;
  }
  .nav-container-2 {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    color: whitesmoke;
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
  }
  .nav-container-2-text {
    margin-top: 0;
  }

  .nav-container-2 p {
    margin-top: 10px;
    font-size: 0.7rem;
  }
  .nav-container-2 h1 {
    display: flex;
    font-size: 1.1rem;
    gap: 0.3rem;
    margin: 0 auto;
    justify-content: center;
  }

  .nav-image-wrapper {
    background-color: #f39c12;
    border-radius: 100px;
    width: 300px;
    height: auto;
    margin-top: 100px;
  }
  .nav-container-2 img {
    width: 80%;
    max-height: 400px;
    width: 300px;
    border-radius: 100px;
    margin-top: -80px;

    object-fit: contain;
  }
  .nav-container-2 button {
    font-size: 0.9rem;
    margin-top: 12px;
    padding: 10px;
    width: 100%;
  }

  .nav-container-2 button:hover {
    background-color: rgb(180, 130, 95);
    transition-delay: 300ms;
    transform: scale(1.05);
  }
  .about-container {
    justify-content: center;
    margin: 2rem auto;
  }
  .about-shelter {
    /* min-width: 350px; */
    justify-content: center;
  }
  .about-container h2 {
    font-size: 1.3rem;
  }
  .about-image img {
    width: 330px;
  }
  .body-container h2 {
    font-size: 1.3rem;
  }
  .body-contents {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .div-title h1 {
    font-size: 1.3rem;
  }

  .before-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    padding: 2rem;
    margin-bottom: 0px;
  }

  .before-footer-img img {
    width: 300px;
  }

  .before-footer-contents {
    margin-bottom: 0rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  .before-footer-contents p {
    font-style: italic;
  }

  .before-footer-contents button {
    width: 90%;
    margin-bottom: 0rem;
  }

  .footer-container {
    flex-direction: column;
    padding: 2rem;
    color: white;
  }

  .footer-contents h1 {
    margin: 1rem auto;
    font-size: 1.3rem;
    text-align: center;
    gap: 0.5rem;
  }

  .footer-social a {
    color: #ecf0f1;
    font-size: 1.3rem;
    transition: color 0.3s ease, transform 0.3s ease;
  }

  .footer-bottom {
    text-align: center;
    font-size: 0.8rem;
    color: #bdc3c7;
    margin-bottom: 0;
  }
}
